{% extends 'base.html' %}

{% block name %}About{% endblock %}

{% block content %}
    <div style="text-align: left;">
    <ul style="list-style: none;">
        <li>
        	<h6>Contact Info</h6>
        	<ul class="sub">
        		<li><a style="color: #fc03b1;" href="mailto:qjjzing@gmail.com">&nbsp;&nbsp;qjjzing@gmail.com</a></li>
        	</ul>
        </li>
        <li>
        	<h6>Personal Projects</h6>
        	<ul class="sub">
        		<li><a style="color: #fc03b1;" href="https://github.com/JingQ7">&nbsp;&nbsp;Github</a></li>
        	</ul>
        </li>
        <li>
        	<h6>Social Profiles</h6>
        	<ul class="sub">
        		<li><a style="color: #fc03b1;" href="https://www.linkedin.com/in/jingjing-q-b55809146/">&nbsp;&nbsp;LinkedIn</a></li>
        	</ul>
        </li>
        <li>
        	<h6>Additional life</h6>
        	<ul class="sub">
        		<li><a style="color: #fc03b1;" href="https://www.youtube.com/watch?v=jRBSfTVpGZg">&nbsp;&nbsp;Travel with my family</a></li>
        		<li><a style="color: #fc03b1;" href="https://www.youtube.com/watch?v=mNlfABOaEOk">&nbsp;&nbsp;Study</a></li>
        	</ul>
        </li>
    </ul>
</div>


{% endblock %}

