{% extends 'base.html' %}

{% block name %}Home{% endblock %}

{% block content %}

<div id="intro">
		<article>
			<header>
			    <h3>Home</h3>
			</header>
			<img class="image" src="https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Library"/>
			<p>In the intro to this article, I smacked you in the face with a statistic: </p>
			<p>
				In the intro to this article, I smacked you in the face with a statistic: If you don’t capture a reader’s attention within fifteen seconds, 55 percent will surf on to something else. Right from the first sentence, I’ve told you why this article matters, which is a powerful way to compel someone to read on.
			</p>
			<p>
				In the intro to this article, I smacked you in the face with a statistic: If you don’t capture a reader’s attention within fifteen seconds, 55 percent will surf on to something else. Right from the first sentence, I’ve told you why this article matters, which is a powerful way to compel someone to read on.
			</p>
			<p>In the intro to this article, I smacked you in the face with a statistic: </p>
		</article>
	</div>
{% endblock %}