{% extends 'base.html' %}

{% block name %}Resume{% endblock %}

{% block content %}
	<div style="text-align: center;">
		<h6>Contact me <a href="mailto:qjjzing@gmail.com">qjjzing@gmail.com</a></h6>
		<h6>Download my resume <a href="https://drive.google.com/file/d/0By9bOCw7BfYYX3hHUkI2SUxIV0VLZW9RdEh1RkZiZmliVmVj/view?usp=sharing">here</a></h6>
	</div>
<div class="resuemBody">
	<ul class="resumeSections">
		<li class="mainLi">
			<div class="section">
				<h3 class="sectionTitle">Eduction</h3>
				<hr>
				<ul>
					<li>
						<div class="inlineClass">
							<h6>MASTER OF ECONOMICS, CARLETON UNIVERSITY</h6>
							<h6 align="right">09/2016 – 06/2019</h6>
						</div>
						<ul>
							<li>
								<h7 style="font-weight:bold;">Overall CGPA: 5.4/6.0</h7>
							</li>
						</ul>
					</li>
					<li>
						<div class="inlineClass">
							<h6>BACHELOR OF SCIENCE IN MATH & ECONOMICS, DALHOUSIE UNIVERSITY</h6>
							<h6 align="right">09/2012 – 10/2014</h6>
						</div>
						<ul>
							<li>
								<h7 style="font-weight:bold;">Won the Dal-SDUFE Joint Program Scholarship for the academic year 2013.</h7>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</li>
		<li class="mainLi">
			<div class="section">
				<h3 class="sectionTitle">Skills</h3>
				<hr>
				<ul>
					<li>
						<div class="inlineClass">
							<p>
								<h7 style="font-weight:bold;">TECHNICAL SKILLS: &nbsp;</h7>
								<h7>Python (NumPy, Pandas, Scikit-learn, Statsmodels, Matplotlib, Virtualenv, Seaborn, Keras, SciPy), MySQL, SAS, MATLAB, Tablean, Juypter Notebook, STATA, SHAZAM, SPSS, Hadoop (hdfs, hive, pig, spark)</h7>
							</p>
						</div>
					</li>
					<li>
						<div class="inlineClass">
							<p>
								<h7 style="font-weight:bold;">PERSONAL SKILLS: &nbsp;</h7>
								<h7>Problem Solving, Critical Thinking, Teamwork, Easily Adaptable</h7>
							</p>
						</div>
					</li>
					<li>
						<div class="inlineClass">
							<p>
								<h7 style="font-weight:bold;">LANGUAGES: &nbsp;</h7>
								<h7>English, Mandarin</h7>
							</p>
						</div>
					</li>
				</ul>
			</div>
		</li>
		<li class="mainLi">
			<div class="section">
				<h3 class="sectionTitle">Experience</h3>
				<hr>
				<ul>
					<li>
						<div>
							<div class="inlineClass">
								<h6 style="font-weight:bold;">DATA ANALYST, SINOMA CONSTRUCTION YANZHOU LIMITED COMPANY</h6>
								<h6 align="right">10/2015 – 08/2016</h6>
							</div>
							<ul>
								<li>
									<h7>This is the place for a brief summary of your key responsibilities and most stellar accomplishments.</h7>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</li>
		<li class="mainLi">
			<div class="section">
				<div class="inlineClass1">
					<h3 class="sectionTitle">Projects <span style="font-size: 60%;">(find more on my<a href="https://github.com/JingQ7"> github</a>)</span></h3>
				</div>
				<hr>
				<ul>
					<li>
						<div class="inlineClass">
							<h6><b>FACIAL RECOGNITION WITH ANN</b></h6>
							<h6 align="right">05/2019 – PRESENT</h6>
						</div>
						<ul>
							<li>
								<h6>Programming: Python (Virtualenv, urllib, re, lxml), Scrapy, MySQL</h6>
							</li>
						</ul>
					</li>
					<li>
						<div class="inlineClass">
							<h6>THE STOCK INDEX CORRESPOND TO GOLD PRICES, CARLETON UNIVERSITY</h6>
							<h6 align="right">12/2018 – 05/2019</h6>
						</div>
						<ul>
							<li>
								<h7>Programming: Python (pandas, numpy, statsmodels, matplotlib)</h7>
							</li>
							<li>
								<h7>Collected 10-years daily data and cleaned missing values, then plotted charts by data visualization library.</h7>
							</li>
							<li>
								<h7>Chose the best regression model (VAR) by applying several statistical techniques such as ADF test, LM test.</h7>
							</li>
							<li>
								<h7>Analyzed the relationship between the gold price and stock, predicted stock based on gold price.</h7>
							</li>
						</ul>
					</li>
					<li>
						<div class="inlineClass">
							<h6>DATA SCRAPING WITH MACHINE LEARNING ALGORITHM</h6>
							<h6 align="right">01/2018 – 12/ 2018</h6>
						</div>
						<ul>
							<li>
								<h7>Programming: Python (Virtualenv, Scrapy, urllib, re, lxml, threading, pandas, NumPy, SciPy, Matplotlib, scikit-learn), MySQL, Json</h7>
							</li>
							<li>
								<h7>Ability to scraping Amazon’s bestseller books details with Scrapy framework by creating a virtual environment, using MySQL to manage database and save Json file. </h7>
							</li>
							<li>
								<h7>Scraping Globalnews.ca to collect data from main page, clustering news stories by using scikit-learn implementation of TF-IDF, and build K-Means model with k = 4 for clustering strings. </h7>
							</li>
							<li>
								<h7>Toronto Real Estate prediction with K-nearest neighbor algorithm and SVM model through data pre-processing, data visualization</h7>
							</li>
						</ul>
					</li>
					<li>
						<div class="inlineClass">
							<h6>NEWS SPIDER WITH TEXT CLUSTERING WITH K-MEANS</h6>
							<h6 align="right">01/2017 – 07/ 2017</h6>
						</div>
						<ul>
							<li>
								<h7>Programming: Python (Virtualenv, urllib, re, time, NumPy, Pandas, Matplotlib, Scikit-learn)</h7>
							</li>
							<li>
								<h7>Scraping Globalnews.ca to collect each news from main page, and save all stories in a csv file.</h7>
							</li>
							<li>
								<h7>clustering news stories by using scikit-learn implempentation of TF-IDF, and build K-Means model with k = 4 for clustering strings.</h7>
							</li>
						</ul>
					</li>
					<li>
						<div class="inlineClass">
							<h6>FORECASTING CANADIAN UNEMPLOYMENT RATE, CARLETON UNIVERSITY</h6>
							<h6 align="right">09/2017 – 12/2017</h6>
						</div>
						<ul>
							<li>
								<h7>Programming: MATLAB</h7>
							</li>
							<li>
								<h7>Checked stationary on 40-years adjusted monthly data and plotted it, built the time series model to forecast unemployment rates for the following 12 months.</h7>
							</li>
						</ul>
					</li>
					<li>
						<div class="inlineClass">
							<h6>PERSONAL WEBSITE</h6>
							<h6 align="right">01/2017 – 07/ 2017</h6>
						</div>
						<ul>
							<li>
								<h7>Programming: Python (Virtualenv, Django, Flask, Werkzeug, Jinja2), MySQL,pandas, NumPy, SciPy, Matplotlib, seaborn, scikit-learn, SQL, Juypter Notebook, Keras</h7>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>
{% endblock %}